@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');


:root {
  --white: rgb(252, 252, 252);
  --sweet-blueberry: rgb(144,117,136);
  --transparent-dark: rgba(0, 0, 0, 0.309);
}


body {
  font-family: 'Nunito', sans-serif;
}

/* ************************ NAVBAR *********************** */
nav {
  z-index: 2;
}

.logo {
  width: 6rem;
  margin-left: 1.3rem;
}

/* ----------- Menu Links ---------- */
nav a.nav-link {
  font-weight: 400;
  letter-spacing: 0.275rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-right:2rem;
}

.navbar-nav > li > a {
  border-top: 0.1875rem solid var(--transparent-dark);
}


.navbar-nav > li > a.active, .navbar-nav >li > a:focus {
  border-top: 0.1875rem solid var(--sweet-blueberry);

}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--sweet-blueberry);
}

.hamburger-btn {
  color: var(--white);
}

.hamburger-btn:hover {
  color: var(--sweet-blueberry);
}

/* ************************ HEADER *********************** */

.header-wraper {
  position : relative;
  background : url(gradient.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  
  display: flex;
  position:absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Nunito', sans-serif;

}

.main-info h1 {
  font-size: 4rem;
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 2.2rem;
  }
}

/* ----------- Particles JS ---------- */

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}


/* ----------- Typed Text ---------- */
.typed-text {
  font-size: 2.5rem;
}

@media(max-width: 768px) {
  .typed-text  {
    font-size: 1.3rem;
  }
}

/* ************************ ABOUT ME SECTION *********************** */

/* ----------- profile pic ---------- */
.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}



.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: .3rem;
  border: 1px solid var(--sweet-blueberry);
}

@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}


/* ----------- Text ---------- */

.about-heading {
  color: var(--sweet-blueberry);
  text-transform: uppercase;
}

@media(max-width: 468px) {

}
