@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
  --white: rgb(252, 252, 252);
  --ocre: rgb(153, 128, 29);
  --transparent-dark: rgba(0, 0, 0, 0.309);
}


body {
  font-family: 'Nunito', sans-serif;
}

/* ************************ NAVBAR *********************** */
.logo {
  width: 6rem;
  margin-left: 1.3rem;
}

/* ----------- Menu Links ---------- */
nav a.nav-link {
  font-weight: 400;
  letter-spacing: 0.275rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-right:2rem;
}

.navbar-nav > li > a {
  border-top: 0.1875rem solid var(--transparent-dark);
}


.navbar-nav > li > a.active, .navbar-nav >li > a:focus {
  border-top: 0.1875rem solid var(--ocre);

}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--ocre);
}

.hamburger-btn {
  color: var(--white);
}

.hamburger-btn:hover {
  color: var(--ocre);
}